/* start file: /lists/styles/color.css   */

body {
    background-color: #FFF;
    background-image: url("../images/page_bk_nomenu.png");
    color: #666
}

.panel {
    border-color: #666;
}

.panel .content {
    background-color: #F2F2F2
}

h3 {
    color: #333
}

a {
    color: #666
}

a:hover {
    color: #000
}

#footer {
    background-color: #FFF;
}

#mainContent table {
    background: #DDD;
    border-color: #CCC
}

textarea {
    background: #FFF;
    border-color: #DDD;
    color: #666;
}

select {
    border-color: #DDD;
    background-color: #FFF;
    color: #666;
}

input[type="text"],
input[type="password"] {
    border-color: #CCC;
    color: #333;
}

input[type="submit"],
p.button a, a.button {
    border-color: #BBB #AAA #AAA #BBB;
    color: #333;
}

input:hover[type="submit"],
a:hover.button, p.button a:hover {
    border-color: #F90 !important;
    color: #000;
}

#logo a:hover {
    color: #aaa;
}

/* end file: /lists/styles/color.css   */
