body {
scrollbar-base-color: #DEDEB6; 

scrollbar-face-color: #CCCC99;; 
scrollbar-track-color: #DEDEB6; 
scrollbar-arrow-color: #000000;
}

a:link {
div#menutable div#menuheader {
  position:absolute;
  width: 50px;
  color: white;
  text-align: center;
  padding:2px 0px 2px 0px;
  background-color: #ff9900;
  border: 1px solid black;
}


}
a:active {
	font-size: 11px; color: #ff6600; font-style: normal; font-family: verdana, sans-serif; text-decoration: none;
}
a:visited {
	font-size: 11px; color: #ff6600; font-style: normal; font-family: verdana, sans-serif; text-decoration: none;
}
a:hover {
   min-height:400px;
	text-decoration: underline;
}
p {
	font-weight: normal; font-size: 11px; color: #666666; font-style: normal; font-family: verdana, sans-serif; text-decoration: none;
}
td {
	font-weight: normal; font-size: 11px; color: #666666; font-style: normal; font-family: verdana, sans-serif; text-decoration: none;
}

ol {font-weight: normal; font-size: 11px; color: #666666; font-style: normal; font-family: verdana, sans-serif; text-decoration: none;}

.disclist li {list-style-type : circle; padding: 5px;}

h1 {font-weight: bold; font-size: 12px; color: #666666; font-style: normal; font-family: verdana, sans-serif; text-decoration: none;}

h2 {font-weight: bold; font-size: 11px; color: #666666; font-style: normal; font-family: verdana, sans-serif; text-decoration: none;}

h3 {font-weight: bold; font-size: 12px; color: #666666; font-style: normal; font-family: verdana, sans-serif; text-decoration: none; margin:0px; padding:0px;}

   margin: 0px;
hr {width : 100%; height : 1px; color: #ff9900; size:1px;}

.leaftitle {font-weight: bold; font-size: 16px; color: #ff9900; font-style: normal; font-family: verdana, sans-serif; text-decoration: none;}

.title {font-weight: bold; font-size: 11px; color: #999966; font-style: normal; font-family: verdana, sans-serif; text-decoration: none; padding-left:5px;}

.phphead,
a:active.phphead,
a:link.phphead,
a:hover.phphead,
a:visited.phphead {font-size: 14px; color: #000000; font-style: normal; font-family: verdana, sans-serif; text-decoration: none; padding-left:20px;}

.menulinkleft {margin : 0px; padding : 0px;}
.menulinkleft a:link, 
.menulinkleft a:active, 
.menulinkleft a:visited {font-family: verdana, sans-serif;font-size : 11px; color : #000000;background-color : #F9F9F9; font-weight: normal; display : block; text-align : left; text-decoration : none; padding-left: 5px;line-height : 15px;border-top: 2px white solid;}
.menulinkleft a:hover {font-family: verdana, sans-serif;font-size : 11px; color : #000000;background-color : #EBEBEB; font-weight: normal; display : block; text-align : left; text-decoration : none;}


.menutable {background-color : white; border-left : 1px black solid; border-right : 1px black solid; display : block; width : 132px;}


.menuhd {font-family: verdana, sans-serif;font-size : 11px; color : black;background-color : #CCCC99; font-weight: normal; border-top: 1px black solid;  border-bottom: 1px black solid;display : block; text-align : left; text-decoration : none; padding: 2px;vertical-align : top; padding-left : 3px;}

.bottom {font-family: verdana, sans-serif;font-size : 10px; font-weight : bold; padding: 2px; padding-left:20px;}
.input {font-family: verdana, sans-serif;font-size : 10px; font-weight : normal;}

.searchBoxinput {font-family: verdana, sans-serif;font-size : 11px; font-weight : normal; margin : 0px; padding : 0px;color : #000000;border: 1px #999966 solid; padding-left:2px; height:15px; width:110px;}

.dropdown {font-family: verdana, sans-serif;font-size : 11px; font-weight : normal; margin : 0px; padding : 0px;color : #000000;border: 1px #999966 solid; padding-left:5px; height:15px; width:250px;}

.addbutton {font-family: verdana, sans-serif;font-size : 11px; font-weight : normal; margin : 0px; padding : 0px;color : #000000;border: 1px #999966 solid; height:15px; width:120px;}

.submitsearch {font-family: verdana, sans-serif;font-size : 11px; font-weight : normal; margin : 0px; padding : 0px;background-color: #DEDEB6;color : #000000; border:1px #CCCC99 solid; height:15px;}

.menufill {font-family: verdana, sans-serif;font-size : 11px; color : #000000;background-color : #CCCC99; font-weight: normal; text-align : left; text-decoration : none; padding: 0px;border-top: 1px white solid; border-bottom: 1px white solid; padding-left: 5px;}

.rightmenufill {font-family: verdana, sans-serif;font-size : 11px; color : #000000;background-color : #CCCC99; font-weight: normal; text-align : left; text-decoration : none; padding: 0px;border-top: 1px white solid; border-bottom: 1px white solid; padding-left: 5px;}

.branchhd {font-family: verdana, sans-serif;font-size : 11px; color : black;background-color : #DEDEB6; font-weight: bold; border-top: 1px black solid;  border-bottom: 1px black solid;display : block; text-align : left; text-decoration : none; padding: 2px;vertical-align : top; padding-left : 3px;}

.branchaction {font-family: verdana, sans-serif;font-size : 11px; color : black;background-color : #DEDEB6; font-weight: bold; border-top: 1px black solid;  border-bottom: 1px black solid;display : block; text-align : right; text-decoration : none; padding: 2px;vertical-align : top; padding-left : 3px;}

.branchaction2 {font-family: verdana, sans-serif;font-size : 11px; color : black;background-color : #DEDEB6; font-weight: bold; border-top: 1px black solid;  border-bottom: 1px black solid;display : block; text-align : left; text-decoration : none; padding: 2px;vertical-align : top; padding-left : 3px;}

.listorder {font-family: verdana, sans-serif;font-size : 10px; color : black; padding:0px; width:20px;}

.delete {font-family: verdana, sans-serif;font-size : 11px; color : red;background-color : #DEDEB6; font-weight: bold; border-top: 1px black solid;  border-bottom: 1px black solid;display : block; text-align : right; text-decoration : none; padding: 2px;vertical-align : top; padding-left : 3px;}

a.deletelink,
a:link.deletelink,
a:active.deletelink,
a:visited.deletelink  {font-family: verdana, sans-serif;font-size : 12px; color : red; font-weight: bold; text-align : right; text-decoration : none;}
a:hover.deletelink {color: #666633;}

a.branches {padding :2px;}
a:link.branches,
a:active.branches,
a:visited.branches  {font-family: verdana, sans-serif;font-size : 11px; color : #999966;background-color : #ffffff; font-weight: bold; text-align : middle; text-decoration : none; display:block;}
a:hover.branches {color: #666633;}

a.buttonpublish {border: 1px #999966 solid; padding :2px;}
a:link.buttonpublish,
a:active.buttonpublish,
a:visited.buttonpublish  {font-family: verdana, sans-serif;font-size : 11px; color : #999966;background-color : #ffffff; font-weight: bold; text-align : middle; text-decoration : none;}
a:hover.buttonpublish 

a.menuhelp {color : #000000;}
a:link.menuhelp,
a:active.menuhelp,
a:visited.menuhelp  {font-family: verdana, sans-serif;font-size : 11px; color : #999933;background-color : #CCCC99; font-weight: normal; text-align : right; text-decoration : none; padding: 0px;}
a:hover.menuhelp {font-family: verdana, sans-serif;font-size : 11px; color : #000000;background-color : #CCCC99; font-weight: normal; text-align : right; text-decoration : none; padding: 0px;}

a:link.urhere,
a:active.urhere,
a:visited.urhere  {font-family: verdana, sans-serif; font-size : 10px; color : black; font-weight: normal; text-align : left; text-decoration : none;}
a:hover.urhere  {font-family: verdana, sans-serif; font-size : 10px; color : #666666; font-weight: normal; text-align : left; text-decoration : none;}

.webblermenu {font-family: verdana, sans-serif; font-size : 11px; color : white; font-weight: normal; text-align : left; text-decoration : none; padding :5px; background-color : #ff9900; border: 1px solid black;}

a:link.powered,
a:active.powered,
a:visited.powered  {font-family: verdana, sans-serif; font-size : 10px; color : #666666;font-weight: bold; text-align : left; text-decoration : none; padding: 2px;}
a:hover.powered {color : #7D7B7B;}

 .email  {
	font-size : 12px;
	font-family : Arial, Helvetica, sans-serif;
	font-weight : bold;
	font-style : normal;
	color : blue;
	text-decoration : none;
}

.address  {
	font-size : 12px;
	font-family : Arial, Helvetica, sans-serif;
	font-weight : normal;
	font-style : normal;
	color : black;
	text-decoration : none;
}

a.url  {
	font-size : 12px;
	font-family : Arial, Helvetica, sans-serif;
	font-weight : bold;
	font-style : normal;
	color : black;
	text-decoration : none;
}

.listitem  {
	font-size : 12px;
	font-family : Arial, Helvetica, sans-serif;
	font-weight : normal;
	font-style : normal;
	color : black;
	text-decoration : none;
}

.attributename  {
	font-size : 12px;
	font-family : Arial, Helvetica, sans-serif;
	font-weight : normal;
	font-style : normal;
	color : black;
	text-decoration : none;
}

.attributeinput  {
	font-size : 12px;
	font-family : Arial, Helvetica, sans-serif;
	font-weight : normal;
	font-style : normal;
	color : black;
	text-decoration : none;
}

.required {
	font-weight : normal;
	font-style : normal;
	color : red;
	text-decoration : none;
}

.missing {
	font-size : 14px;
	font-family : Arial, Helvetica, sans-serif;
	font-weight : bold;
	font-style : normal;
	color : red;
}

.error  {
	font-size : 12px;
	font-family : Arial, Helvetica, sans-serif;
	font-weight : normal;
	font-style : normal;
	color : red;
	text-decoration : none;
}

.info  {
	font-size : 12px;
	font-family : Arial, Helvetica, sans-serif;
	font-weight : normal;
	font-style : normal;
	color : magenta;
	text-decoration : none;
}

.botbar  {
	font-size : 11px;
	font-family : Arial, Helvetica, sans-serif;
	font-weight : bold;
	font-style : normal;
	color : white;
	text-decoration : none;
}
