/.svn/
/plugins
vendor/
/behat.yml
.php_cs.cache
/.idea/
public_html/lists/admin/help/
public_html/lists/admin/info/
*.kdev4
/build
.DS_Store
.vagrant
public_html/lists/updater
public_html/lists/texts

