#SELENIUM_VERSION=4.16.1-20231219
SELENIUM_VERSION=2.53.1
PHPLIST_PORT=80
PHPLIST_CODE=/path/to/phplist/code ## run from local code (requires commenting out the volume in docker-compose.yml)
PHPLIST_VERSION=3.7.0 ## docker version to pull
