/* dom tabs */

.domtab{
	margin: 1em 0 0 0;
	padding:0;
	background: url(../images/domtabbkfixed.png) left 1px no-repeat;
	float: left;
}

ul.domtabs{
	float:left;
	height: 23px;
	margin:0!important;
	padding:0 !important;
	list-style:none;
	border-bottom: 1px solid #C9D2D9;
}

ul.domtabs li{
	float:left;
	margin:0 !important;
	padding:0 !important; 
	list-style: none !important
}

ul.domtabs a {
/*
	width: 57px;
*/
	padding: 5px 10px;
	display:block;
	color:#0099CC;
	text-decoration:none;
	text-align: center;
	margin: 0
}

ul.domtabs li.active a {
	background:#FFFFFF url(../images/domtabon.png) repeat-x scroll left top;
	border-color: #C9D2D9;
	border-style:none solid solid;
	margin-bottom: -1px;
	border-width:medium 1px 1px;
	color:#FE0000;
}

.domtab div{
	float: left;
	clear:left;
	background:#fff;
	color:#000;
	border-bottom: 1px solid #DBDCDE;
	border-left: 1px solid #DBDCDE;
	border-right: 1px solid #DBDCDE;
	padding: 5px;
}

.domtab div h3 {
	position: absolute;
	text-indent: 9999px;
	overflow: hidden;
}

.domtab div img {
	float:left;
	padding: 0 8px 4px 0;
}

.domtab .webblerimage {border: 1px solid #fff !important;
padding: 0; margin: 0; float: left; clear: both;}

.domtab .webblerimage img{
padding: 0; margin: 0;
display: block;}

.domtab .hide {display: none}

.domtab a {
	font-weight: bold;
	color: #ff0000;
}

.domtab h4 {
	font-size: 2em;
	letter-spacing: -1px;
	font-weight: bold;
	color: #ff0000;
}

.domtab h4 em{
	font-style: normal;
	color: #000000;
}
