@import url(shader.css);
@import url(menu.css);
@import url(tabs.css);

#mainContent {
  width: 70%; float: left;
}

li{
	font-size: 11px; color: #0000; font-style: normal; font-family: verdana, sans-serif;
}

li li {
	font-size: 11px;
	color: #0000;
	font-style: normal;
	font-family: verdana, sans-serif;
	list-style-type : square;
}

a:link {
	font-size: 11px; color: #ff6600; font-style: normal; font-family: verdana, sans-serif; text-decoration: none;
}
a:active {
	font-size: 11px; color: #ff6600; font-style: normal; font-family: verdana, sans-serif; text-decoration: none;
}
a:visited {
	font-size: 11px; color: #ff6600; font-style: normal; font-family: verdana, sans-serif; text-decoration: none;
}
a:hover {font-size: 11px; color: #ff6600; font-style: normal; font-family: verdana, sans-serif;
	text-decoration: underline;
}

td {
	font-weight: normal; font-size: 11px; color: #666666; font-style: normal; font-family: verdana, sans-serif; text-decoration: none;
}

ol {font-weight: normal; font-size: 11px; color: #666666; font-style: normal; font-family: verdana, sans-serif; text-decoration: none;}

.disclist li {list-style-type : circle; padding: 5px;}

h1 {font-weight: bold; font-size: 12px; color: #666666; font-style: normal; font-family: verdana, sans-serif; text-decoration: none;}

h2 {font-weight: bold; font-size: 16px; color: #ff9900; font-style: normal; font-family: verdana, sans-serif; text-decoration: none;}

h3 {font-weight: bold; font-size: 12px; color: #666666; font-style: normal; font-family: verdana, sans-serif; text-decoration: none; margin:0px; padding:0px;}
h4.pagetitle {
  font-weight: bold; 
  font-size: 18px; 
  color: #666666; 
  margin:10px; 
  margin-top:30px; 
  padding:20px;
}

hr {width : 100%; height : 1px; color: #ff9900; size:1px;}

.title {font-weight: bold; font-size: 11px; color: #999966; font-style: normal; font-family: verdana, sans-serif; text-decoration: none; padding-left:5px;}


.phphead,
a:active.phphead,
a:link.phphead,
a:hover.phphead,
a:visited.phphead {font-size: 14px; color: #000000; font-style: normal; font-family: verdana, sans-serif; text-decoration: none; padding-left:20px;}

ul.recentlyvisited,
ul.contextmenu {
  border: 2px black solid;
  padding: 3px;
}

ul.recentlyvisited li,
ul.contextmenu li {
  list-style-type : none;  
  padding: 5px;
  line-height : 15px;
  font-weight : bold;
  border: 1px solid  #CCCC99; 
}

.menuhd {font-family: verdana, sans-serif;font-size : 11px; color : black;background-color : #CCCC99; font-weight: normal; border-top: 1px black solid;  border-bottom: 1px black solid;display : block; text-align : left; text-decoration : none; padding: 2px;vertical-align : top; padding-left : 3px;}

.bottom { border-top: 1px solid black;  border-bottom: 1px solid black; font-family: verdana, sans-serif;font-size : 10px; font-weight : bold; padding: 2px; padding-left:20px;}
.input {font-family: verdana, sans-serif;font-size : 10px; }
.bottomrow { border-bottom: 1px solid black; }
.searchBoxinput {font-family: verdana, sans-serif;font-size : 11px; font-weight : normal; margin : 0px; padding : 0px;color : #000000;border: 1px #999966 solid; padding-left:2px; height:15px; width:110px;}

.dropdown {font-family: verdana, sans-serif;font-size : 11px; font-weight : normal; margin : 0px; padding : 0px;color : #000000;border: 1px #999966 solid; padding-left:5px; height:15px; width:250px;}

.addbutton {font-family: verdana, sans-serif;font-size : 11px; font-weight : normal; margin : 0px; padding : 0px;color : #000000;border: 1px #999966 solid; height:15px; width:120px;}

.submitsearch {font-family: verdana, sans-serif;font-size : 11px; font-weight : normal; margin : 0px; padding : 0px;background-color: #DEDEB6;color : #000000; border:1px #CCCC99 solid; height:15px;}

.menufill {font-family: verdana, sans-serif;font-size : 11px; color : #000000;background-color : #CCCC99; font-weight: normal; text-align : left; text-decoration : none; padding: 0px;border-top: 1px white solid; border-bottom: 1px white solid; padding-left: 5px;}

.rightmenufill {font-family: verdana, sans-serif;font-size : 11px; color : #000000;background-color : #CCCC99; font-weight: normal; text-align : left; text-decoration : none; padding: 0px;border-top: 1px white solid; border-bottom: 1px white solid; padding-left: 5px;}

.delete {font-family: verdana, sans-serif;font-size : 11px; color : red;background-color : #DEDEB6; font-weight: bold; border-top: 1px black solid;  border-bottom: 1px black solid; text-align : right; text-decoration : none; padding: 2px;vertical-align : top; padding-left : 3px;}

a.deletelink,
a:link.deletelink,
a:active.deletelink,
a:visited.deletelink  {font-family: verdana, sans-serif;font-size : 12px; color : red; font-weight: bold; text-align : right; text-decoration : none;}
a:hover.deletelink {color: #666633;}

a.branches {padding :2px;}
a:link.branches,
a:active.branches,
a:visited.branches  {font-family: verdana, sans-serif;font-size : 11px; color : #999966;background-color : #ffffff; font-weight: bold; text-align : middle; text-decoration : none; display:block;}
a:hover.branches {color: #666633;}

a.buttonpublish {border: 1px #999966 solid; padding :2px;}
a:link.buttonpublish,
a:active.buttonpublish,
a:visited.buttonpublish  {font-family: verdana, sans-serif;font-size : 11px; color : #999966;background-color : #ffffff; font-weight: bold; text-align : middle; text-decoration : none;}
a:hover.buttonpublish

a.menuhelp {color : #000000;}
a:link.menuhelp,
a:active.menuhelp,
a:visited.menuhelp  {font-family: verdana, sans-serif;font-size : 11px; color : #999933;background-color : #CCCC99; font-weight: normal; text-align : right; text-decoration : none; padding: 0px;}
a:hover.menuhelp {font-family: verdana, sans-serif;font-size : 11px; color : #000000;background-color : #CCCC99; font-weight: normal; text-align : right; text-decoration : none; padding: 0px;}

a:link.urhere,
a:active.urhere,
a:visited.urhere  {font-family: verdana, sans-serif; font-size : 10px; color : black; font-weight: normal; text-align : left; text-decoration : none;}
a:hover.urhere  {font-family: verdana, sans-serif; font-size : 10px; color : #666666; font-weight: normal; text-align : left; text-decoration : none;}


.webblermenu {
	font-family: verdana, sans-serif;
	font-size : 11px;
  color : white;
  font-weight: normal;
  text-align : left;
  text-decoration : none;
  padding :5px;
  background-color : #ff9900;
  border: 1px solid black;
  z-index: -10;
}


a:link.powered,
a:active.powered,
a:visited.powered  {font-family: verdana, sans-serif; font-size : 10px; color : #666666;font-weight: bold; text-align : left; text-decoration : none; padding: 2px;}
a:hover.powered {color : #7D7B7B;}

a.menusearch {color : #000000;}
a:link.menusearch,
a:active.menusearch,
a:visited.menusearch  {font-family: verdana, sans-serif;font-size : 11px; color : #000000;background-color : #CCCC99; font-weight: normal; text-align : left; text-decoration : none; padding: 0px;border-left: 1px white solid;width:55px; padding-left: 5px;}
a:hover.menusearch{font-family: verdana, sans-serif;font-size : 11px; color : #000000;background-color : #CCCC99; font-weight: normal; text-align : left; text-decoration : none;}

.listinghdname {
  font-family: verdana, sans-serif;
  font-size : 11px;
  color : black;
  background-color : #e7be8f;
  font-weight: bold;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  display : block;
  text-align : left;
  text-decoration : none;
  padding: 2px;
  vertical-align : top;
  padding-left : 3px;
}
.listingrowname {
  font-family: verdana, sans-serif;
  font-size : 11px;
  color : black;
  background-color : #e7be8f;
  font-weight: bold;
  display : block;
  text-align : right;
  text-decoration : none;
  padding: 2px;
  vertical-align : top;
  padding-left : 3px;
}
.listinghdelement {
	font-family: verdana, sans-serif;
  font-size : 11px;
  color : black;
  background-color : #e7be8f;
  font-weight: bold;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  display : block;
  text-align : right;
  text-decoration : none;
  padding: 2px;
  vertical-align : top;
  padding-left : 3px;
}
.listinghdelementright {
	font-family: verdana, sans-serif;
  font-size : 11px;
  color : black;
  background-color : #e7be8f;
  font-weight: bold;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  display : block;
  text-align : left;
  text-decoration : none;
  padding: 2px;
  vertical-align : top;
  padding-left : 3px;
}
.listingelement {
  font-size: 11px;
  padding: 2px;
	text-align: right;
}

a.listingname {padding :2px;}
a:link.listingname,
a:active.listingname,
a:visited.listingname  {font-family: verdana, sans-serif;font-size : 11px; color : #999966;background-color : #ffffff; font-weight: bold; text-align : middle; text-decoration : none; display:block;}
a:hover.listingname {color: #666633;}

.allok {color:#999000; font-weight:bold;}
.allwrong {color:#FF0000; font-weight:normal; font-size: 14px;}
.funcion { color: red; text-decoration:underline;}
input.input { color: #000000; font-weight:bold; }

.description {margin-bottom:10px; padding: 2px; border:1px solid #E8BB85; color: #3A3A3A; font-size: 1.2em; background-color:#FFF7C4;}
/*.description span {color: #000000; }*/

#phplist_logo_header { display:block }
#phplist_logo_header span { float:left; display:block }
#phplist_logo_header span.title_installer { color:#66666F; font-size:350%; border-left: 1px #DD995B solid;  margin: 0em 0em 0em 2em; padding: 1em 1em 1em 1.5em; }
#phplist_logo_header span.phplist_logo_span {margin: 3em 0 0 10px; }


#maincontent_install div { float:left; padding:1em; clear:both; width:100%;}
html>body #maincontent_install div { float:left; padding:1em; clear:both;}

#maincontent_install div.intro_install {font-size: 135%;}
#maincontent_install div.intro_install a {font-size: 100%;}

.wrong { color:#FF0000; font-size:120%; font-weight: bold;}
#maincontent_install div.install_start {font-size: 135%; float:left; width:100%}
#maincontent_install div.install_start a {font-size: 100%;}

.explain {padding: 2px; border:1px solid #E8BB85; background-color:#F7E7C3; margin-bottom:10px; font-weight:bold;}
.explain span { color:#000000; font-weight:bold; }
.install_head input, .install_head select { border:1px solid #8F8F8F;}
.value_name { padding-bottom:8px; text-transform:uppercase; font-weight:bold;}

#language_change { display:block; }

#excludelist { float: left; }

#addtoqueue {
  float: right;
  border: 3px dashed #ff9900;
  width: 200px;
  padding: 10px;
}

.paging {
    float: none;
    height: 44px;
    overflow: visible;
    position: relative;
    width: 600px;
}

.paging .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
  background-color: #dddddd;
  border: 1px solid #333333;
}

.paging-item {
  width: 50px;
  height: 20px;
  padding: 8px;
}
.pagingwrapper  {
	position:relative;
	overflow:hidden;
	width: 640px;
	height:20px;
}
.pagingwrapper .next {
  display: inline;
  float: right;
	position:relative;
  background-color: #dddddd;
  border: 1px solid #333333;
}
.pagingwrapper .prev {
  display: inline;
  float: left;
	position:relative;
  background-color: #dddddd;
  border: 1px solid #333333;
}

#languageswitcher {
  float: right;
}

#remoteurlsjtatus {
  float: right;
}

#addtoqueue {
  float: right;
}

div.checkboxes > span {
  padding: 3px;
  background-color:#F7E7C3; 
  border: 1px solid black;
}

.shade1 {
  background-color:#dddddd;
  padding: 3px;
}
.shade2 {
  background-color:#ffffff;
  padding: 3px;
}
.shade0 {
  background-color:#ffffff;
  padding: 3px;
}

.border {
  border: 1px dashed red;
}
#hiddendiv {
  display: none;
}
.disabled {
    background-color:#dddddd;
}
.info {
  border: 2px solid green;
  padding: 10px;
  margin: 10px;
  background-color:#dddddd;
}  
.error {
  border: 2px solid red;
  padding: 10px;
  margin: 10px;
  background-color:#dddddd;
}  

.left {
  float: left;
}
.right {
  float: right;
}

.sendTest {
  padding: 10px;
  margin: 10px;
  background-color:#dddddd;
  border: 3px dashed #ff9900;
  width: 500px;
}

/* Note/Feedback Styles */

.note .ajaxable.hide {
display:block;
height:18px;
overflow:hidden;
position:absolute;
right:3px;
text-indent:-9999px;
top:3px;
width:20px;
}

.info, .note, .missing {
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
background-color: #FFFECD;
border: 1px solid #FFDE9F;
color: #855230;
font-size: 12px;
margin: 15px 0;
padding: 1em;
position: relative;
}

/* Generic Form Buttons */

input[type="submit"],
button,
p.button a,
a.button{
position:relative; /* check */
border-color: #BBBBBB #AAAAAA #AAAAAA #BBBBBB;
border-style: solid;
border-width: 1px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
background:url("../../../../images/bg-button.gif") repeat-x 0 0 #DDDDDD;
color: #333333;
font-size: 14px; 
font-family: Helvetica, Arial, sans-serif;
text-transform: capitalize;
}

/*p.button a:first-child {border-right: 0}*/

input:hover[type="submit"],
a:hover.button,
p.button a:hover {
cursor: pointer; /* important for any clickable/pressable element */
border-color: #9cf !important;
color: #000;
text-decoration: none!important;
}

/* Highlighted Form Buttons (Blue Text) */

p.button a {
text-transform: capitalize; 
}

/* Drop Buttons (combined functions) */

.dropButton {
display:inline;
position:relative; /* check */
margin: 5px 0; 
border-color: #BBBBBB #AAAAAA #AAAAAA #BBBBBB;
border-style: solid;
border-width: 1px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
padding: 3px 6px;
background:url("../../../../images/bg-button.gif") repeat-x 0 0 #DDDDDD;
color: #333333;
font-size: 14px; 
font-family: Helvetica, Arial, sans-serif;
text-transform: capitalize
}

.dropButton img.arrow {
position: relative; padding: 0 0 0 .75em; top: .2em;
}

.dropButton a:hover {text-decoration: none!important}

.button img {
padding:0 0 0 7px;
}

.dropButton .submenu {
background: none repeat scroll 0 0 #F9F9F9;
border-color: #BBBBBB #BBBBBB #AAAAAA #AAAAAA;
border-style: solid;
border-width: 1px;
display: none;
left:-1px;
top: 100%;
padding:4px;
position:absolute;
z-index:100;
}

.dropButton .submenu a {
border-bottom: 1px solid #CCCCCC;
display: block;
font-family: Arial,Helvetica,sans-serif;
font-size:12px;
padding: 4px;
}

/* */
