/* CSS Menus - Horizontal CSS Menu with Dropdown and Popout Menus - 20050131 */

/* Begin CSS Popout Menu */
#menuTop {
    float: left;
    height: 25px;
    width: 100%;
}

#menuTop a {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #CCCCCC;
    display: block;
    line-height: 23px;
    padding: 1px 5px;
    text-decoration: none;
    text-transform: normal;
}

#menuTop ul {
    float: left;
    height: 40px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

#menuTop a:hover {
    background: none repeat scroll 0 0 #FFFECD;
}

#menuTop a:active {
    background: none repeat scroll 0 0 #EEEEE;
}

#menuTop li li a {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #CCCCCC;
    width: 155%;
}

#menuTop h3 {
    display: block;
    border-width: 1px;
    border-style: solid;
    margin: 0;
    padding: 0 5px;
}

#menuTop h3 {
    text-transform: uppercase
}

#menuTop a, #menuTop a:visited {
    color: #000000;
}

#menuTop li {
    position: relative;
    list-style: none;
    margin-left: 0px;
}

#menuTop ul ul {
    position: absolute;
    z-index: 500;
    top: auto;
    display: none;
}

#menuTop ul ul ul {
    top: 0;
    left: 100%;
}

/* Begin non-anchor hover selectors */

/* Enter the more specific element (div) selector
on non-anchor hovers for IE5.x to comply with the
older version of csshover.htc - V1.21.041022. It
improves IE's performance speed to use the older
file and this method */

div#menuTop h3:hover {
}

div#menuTop li:hover {
    cursor: pointer;
    z-index: 100;
}

div#menuTop li:hover ul ul,
div#menuTop li li:hover ul ul,
div#menuTop li li li:hover ul ul,
div#menuTop li li li li:hover ul ul {
    display: none;
}

div#menuTop li:hover ul,
div#menuTop li li:hover ul,
div#menuTop li li li:hover ul,
div#menuTop li li li li:hover ul {
    display: block;
}

/* End of non-anchor hover selectors */

/* Styling for Expand */

#menuTop a.x, #menuTop a.x:visited {
    font-weight: normal;
}

#menuTop a.x:hover {
    color: #fff;
}

#menuTop a.x:active {
    color: #060;
}

/* End CSS Popout Menu */

