<FilesMatch "\.(php|inc)$">
	# Apache < 2.3
	<IfModule !mod_authz_core.c>
		Order allow,deny
		Deny from all
		Satisfy All
	</IfModule>
	# Apache ≥ 2.3
	<IfModule mod_authz_core.c>
		Require all denied
	</IfModule>
</FilesMatch>
<FilesMatch "index.php$">
	# Apache < 2.3
	<IfModule !mod_authz_core.c>
		Order allow,deny
		Allow from all
		Satisfy All
	</IfModule>
	# Apache ≥ 2.3
	<IfModule mod_authz_core.c>
		Require all granted
	</IfModule>
</FilesMatch>
